<%= turbo_frame_tag "form" do %>
  <%= form_with(model: survey, class: "form", data: { turbo_frame: "_top" }) do |form| %>
    <%= render Form::ErrorsComponent.new if survey.errors.any? %>

    <div class="w-full pt-4" data-controller="color-picker">
      <div class="form__row">
        <div class="form__control w-6/12 relative">
          <%= render Form::TextFieldComponent.new(form:, key: :first_name, title: "Imię") %>
        </div>
        <div class="form__control w-6/12 relative">
          <%= render Form::TextFieldComponent.new(form:, key: :last_name, title: "Nazwisko") %>
        </div>
      </div>

      <div class="form__row">
        <div class="form__control w-6/12 relative">
          <%= render Form::NumberFieldComponent.new(form:, key: :age, title: "Wiek (L)") %>
        </div>
        <div class="form__control w-6/12 relative">
          <%= render Form::NumberFieldComponent.new(form:, key: :height, title: "Wzrost (CM)") %>
        </div>
      </div>

      <div class="form__row">
        <div class="form__control w-6/12 relative">
          <%= render Form::SelectFieldComponent.new(form:, key: :gender, title: "Płeć", choices: options_for_select) %>
        </div>
        <div class="form__control w-6/12 relative">
          <%= render Form::TextFieldComponent.new(form:, key: :favorite_color, title: "Ulubiony kolor") %>
        </div>
      </div>

      <div class="form__row justify-end">
        <button type="button" class="text-xs text-green-600 cursor-pointer hover:underline" data-action="color-picker#setColor">losuj kolor</button>
      </div>

      <div class="flex justify-end items-center flex-wrap gap-2 mt-6">
        <%= render ButtonComponent.new("Anuluj", color: "gray", data: { action: "modal#closeModal" }) %>
        <%= render ButtonComponent.new("Zapisz", type: :submit, color: "blue") %>
      </div>
    </div>
  <% end %>
<% end %>
