<div class="flex justify-between items-center even:bg-gray-50 odd:bg-white hover:bg-blue-50 py-3 px-4">
  <div>
    <div class="font-medium text-gray-900 whitespace-nowrap">
      <%= render LinkToComponent.new(survey.full_name, survey_path(survey), custom_css: "hover:text-sky-800", data: { turbo: false }) %>
    </div>
    <div class="text-xs text-gray-500">
      Wiek: <%= survey.age %>, Wzrost: <%= survey.height %>, Płeć: <%= t("survey.genders.#{survey.gender}") %>
    </div>
  </div>
  <div class="flex items-center justify-end gap-2">
    <%= render LinkToComponent.new("Edytuj", edit_survey_path(survey), color: "orange", data: { turbo_frame: "modal" }) %>
    <%= render ButtonToComponent.new("Usuń", survey_path(survey), color: "red", data: { turbo_confirm: t("confirm_destroy") }) %>
  </div>
</div>
