<div class="relative overflow-x-auto py-6 px-4 space-y-4 2xl:px-0">
  <div class="flex items-center justify-between gap-2 flex-col xl:flex-row">
    <%= render BreadcrumbsComponent.new([{ title: "Ankiety", path: surveys_path }, { title: @survey.full_name }]) %>
    <div class="flex items-center gap-2">
      <%= render LinkToComponent.new("Nowa Ankieta", new_survey_path, color: "blue", data: { turbo_frame: "modal" }) %>
      <%= render LinkToComponent.new("Edytuj", edit_survey_path(@survey), color: "orange", data: { turbo_frame: "modal" }) %>
      <%= render ButtonToComponent.new("Usuń", survey_path(@survey), color: "red", data: { turbo_confirm: t("confirm_destroy") }) %>
    </div>
  </div>

  <div class="bg-white text-sm flex flex-col gap-1 border border-gray-300 p-6">
    <div>Nazwa: <%= @survey.full_name %></div>
    <div>Wiek (L): <%= @survey.age %></div>
    <div>Wzrost (CM): <%= @survey.height %></div>
    <div>Płeć: <%= t("ankieta.genders.#{@survey.gender}") %></div>
    <div>Ulubiony kolor: <%= @survey.favorite_color %></div>
  </div>
</div>
